-- Recreate RAW table: RAW_INCOME_STATEMENT
CREATE TABLE IF NOT EXISTS "{{ schema_name_raw }}"."RAW_INCOME_STATEMENT" (
  "TICKER" VARCHAR(256),
  "PERIOD" VARCHAR(256),
  "YEAR" VARCHAR(256),
  "REVENUE" VARCHAR(256),
  "COGS" VARCHAR(256),
  "GROSS_PROFIT" VARCHAR(256),
  "OPERATING_EXPENSES" VARCHAR(256),
  "OPERATING_PROFIT" VARCHAR(256),
  "FINANCIAL_INCOME" VARCHAR(256),
  "FINANCIAL_EXPENSES" VARCHAR(256),
  "NET_PROFIT_AFTER_TAX" VARCHAR(256),
  "BATCH_DATE" DATE,
  "_CONATA_SOURCE" VARCHAR(256),
  "_CONATA_SOURCE_ROW_NUMBER" INTEGER,
  "_CONATA_PARTITION_KEY" VARCHAR(256),
  "_CONATA_LOADED_AT" TIMESTAMP
);
