-- Recreate RAW table: RAW_MACRO_INDICATORS
CREATE TABLE IF NOT EXISTS {{ schema_name_raw }}."RAW_MACRO_INDICATORS" (
  "INDICATOR_NAME" VARCHAR(256),
  "REPORT_DATE" VARCHAR(256),
  "VALUE" VARCHAR(256),
  "UNIT" VARCHAR(256),
  "BATCH_DATE" DATE,
  "_CONATA_SOURCE" VARCHAR(256),
  "_CONATA_SOURCE_ROW_NUMBER" INTEGER,
  "_CONATA_PARTITION_KEY" VARCHAR(256),
  "_CONATA_LOADED_AT" TIMESTAMP
);
