-- Recreate RAW table: RAW_COMPANY_PROFILE
CREATE TABLE IF NOT EXISTS "{{ schema_name_raw }}"."RAW_COMPANY_PROFILE" (
  TICKER VARCHAR(256),
  COMPANY_NAME VARCHAR(512),
  INDUSTRY VARCHAR(256),
  EXCHANGE VARCHAR(256),
  OUTSTANDING_SHARE NUMERIC(18, 4),
  DESCRIPTION VARCHAR(65535),
  BATCH_DATE DATE,
  _CONATA_SOURCE VARCHAR(256),
  _CONATA_SOURCE_ROW_NUMBER INTEGER,
  _CONATA_PARTITION_KEY VARCHAR(256),
  _CONATA_LOADED_AT TIMESTAMP
);
