-- Recreate RAW table: RAW_CORPORATE_EVENTS
CREATE TABLE IF NOT EXISTS "{{ schema_name_raw }}"."RAW_CORPORATE_EVENTS" (
  EVENT_ID VARCHAR(256),
  TICKER VARCHAR(256),
  EVENT_TYPE VARCHAR(256),
  EX_RIGHT_DATE VARCHAR(256),
  RECORD_DATE VARCHAR(256),
  EVENT_DETAILS VARCHAR(256),
  BATCH_DATE DATE,
  _CONATA_SOURCE VARCHAR(256),
  _CONATA_SOURCE_ROW_NUMBER INTEGER,
  _CONATA_PARTITION_KEY VARCHAR(256),
  _CONATA_LOADED_AT TIMESTAMP
);
