-- Recreate RAW table: RAW_FOREIGN_TRADING
CREATE TABLE IF NOT EXISTS {{ schema_name_raw }}."RAW_FOREIGN_TRADING" (
  "TICKER" VARCHAR(256),
  "TRADING_DATE" VARCHAR(256),
  "BUY_VOL" VARCHAR(256),
  "SELL_VOL" VARCHAR(256),
  "BUY_VAL" VARCHAR(256),
  "SELL_VAL" VARCHAR(256),
  "NET_VAL" VARCHAR(256),
  "BATCH_DATE" DATE,
  "_CONATA_SOURCE" VARCHAR(256),
  "_CONATA_SOURCE_ROW_NUMBER" INTEGER,
  "_CONATA_PARTITION_KEY" VARCHAR(256),
  "_CONATA_LOADED_AT" TIMESTAMP
);
