# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
.ruff_cache/
.pytest_cache/

# Virtual Environments
.venv/
venv/
ENV/

# Distribution / Build
build/
dist/
*.egg-info/

# Logs
*.log

# Dagster
storage/
*.dagster

# dbt
target/
dbt_packages/
logs/
.user.yml

# CDK
cdk.out/

# ML
*.tar.gz
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Secrets
.env*

# TODO file
TODO.md

# superpowers folders
docs/superpowers/*

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.rc
terraform.rc

# pr description file
PR_DESCRIPTION.md

# tmp
.tmp*

# Historical backfill script output
data/*
models/
