extends: default
ignore: |
  .mypy_cache
  .pytest_cache
  .venv
  dbt_packages
  package-lock.yml
rules:
  # Most YAML files have a single document.
  document-start: disable
  line-length:
    # Line-length limitation does not make sense for code generation.
    max: 100000
    allow-non-breakable-inline-mappings: true
  truthy:
    # Noisy and not problematic on keys. E.g. GitHub workflow's `on`.
    check-keys: false
  comments:
    min-spaces-from-content: 1
