-- Drop development Redshift schemas.
DROP SCHEMA IF EXISTS "{{ schema_name_mart }}" CASCADE;
DROP SCHEMA IF EXISTS "{{ schema_name_staging }}" CASCADE;
DROP SCHEMA IF EXISTS "{{ schema_name_raw }}" CASCADE;
DROP SCHEMA IF EXISTS "{{ schema_name_operation }}" CASCADE;
DROP SCHEMA IF EXISTS "{{ schema_name_logs }}" CASCADE;
DROP SCHEMA IF EXISTS "{{ schema_name_function }}" CASCADE;
